<main class="example-box" cdkDrag>
  <div id="terminal">
    <!-- Terminal Bar -->
    <section id="terminal__bar">
      <p id="bar__user">niels@ubuntu: ~</p>
    </section>
    <!-- Terminal Body -->
    <section id="terminal__body">
      <div id="terminal__prompt">
        <span id="terminal__prompt--user">niels@engelhard:</span>
        <span id="terminal__prompt--location">~</span>
        <span id="terminal__prompt--bling">$</span>
        <span id="terminal__prompt--cursor"></span>
      </div>
    </section>
  </div>
</main>

